

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
	<link rel="stylesheet" th:href="@{/css/nav.css}">

</head>
<body>
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light">
		<div class="container-fluid">
			<!-- Logo và Tên Shop -->
			<a class="navbar-brand d-flex align-items-center" href="#"> <img
				src="https://scontent.fhan14-2.fna.fbcdn.net/v/t1.6435-9/111347945_149761543443087_5072562482487010106_n.png?_nc_cat=108&ccb=1-7&_nc_sid=127cfc&_nc_ohc=8ZvgBmWDyEoQ7kNvgHa3jNb&_nc_ht=scontent.fhan14-2.fna&_nc_gid=A6xdGRhrwMtPnWPksQczALV&oh=00_AYDXjNbsaR1cHwD4Qo5pZ3CgQP4Un25AasKSKWt7lzRTUg&oe=6705D921"
				alt="Logo" width="40" height="40" class="mr-2" /> <span>F
					FASHION</span>
			</a>

			<!-- Mega Menu -->
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="#">Sản phẩm
							mới</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Sale</a></li>
					<!-- Mega Menu Áo -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Áo </a>
						<div class="dropdown-menu mega-menu"
							aria-labelledby="navbarDropdown">
							<div class="row">
								<div
									th:each="i : ${#numbers.sequence(0, aoCategories.size() / 1)}"
									class="col-md-4">
									<ul class="list-unstyled">
										<li
											th:each="category : ${aoCategories.subList(i*1, T(java.lang.Math).min(i*1 + 1, aoCategories.size()))}">
											<span th:text="${category.categoryName}"></span>
										</li>
									</ul>
								</div>
							</div>
						</div></li>

					<!-- Mega Menu Quần -->
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Quần </a>
						<div class="dropdown-menu mega-menu"
							aria-labelledby="navbarDropdown">
							<div class="row">
								<div
									th:each="i : ${#numbers.sequence(0, quanCategories.size() / 1)}"
									class="col-md-4">
									<ul class="list-unstyled">
										<li
											th:each="category : ${quanCategories.subList(i*1, T(java.lang.Math).min(i*1 + 1, quanCategories.size()))}">
											<span th:text="${category.categoryName}"></span>
										</li>
									</ul>
								</div>

							</div>
						</div></li>

					<li class="nav-item"><a class="nav-link" href="#">Tin tức</a>
					</li>
				</ul>
			</div>

			<!-- Icon giỏ hàng, thanh tìm kiếm và thông tin tài khoản -->
			<div
				class="navbar-icons d-flex align-items-center ml-auto justify-content-end">
				<!-- Phần thanh tìm kiếm -->
				<form class="form-inline my-2 my-lg-0 search-bar">
					<input class="form-control mr-sm-2" type="search"
						placeholder="Tìm kiếm" aria-label="Search" />
				</form>

				<!-- Icon giỏ hàng -->
				<a href="#" class="nav-link"> <i class="fas fa-shopping-cart"></i>
				</a>

				<!-- Thông tin tài khoản -->
				<div class="account-info d-flex align-items-center">
					<div class="login-box">
						<a href="#" class="nav-link">Đăng nhập</a>
					</div>
					<div class="register-box">
						<a href="#" class="nav-link">Đăng ký</a>
					</div>
				</div>

				<!-- Nút toggle khi trên mobile -->
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
			</div>
		</div>
	</nav>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>
